<!DOCTYPE html>
<html lang="en">
<!--head section-->
<%- include('../common/head.ejs') %>

  <body>
    <!--header section-->
    <%- include('../common/header.ejs') %> 

      <section>
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <!-- Category bar content -->
              <%- include('../common/categorybar.ejs') %>

                <div class="col-sm-9 padding-right">
                  <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">Products</h2>

                    <!-- Run loop -->
                    <% mydata.forEach((value) =>{ %>
                      <% value.categorydetails.forEach((item) =>{ %>
                        <div class="col-sm-4">
                          <div class="product-image-wrapper">
                            <div class="single-products">
                              <div class="productinfo text-center">
                                <img src="http://localhost:3004/<%=item.image%>" alt="" style="height: 200px;" />
                                <h2>₹<%= item.price%></h2>
                                <p><%= item.title %></p> 
                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-box"></i>Order now</a>
                              </div>
                              <div class="product-overlay">
                                <div class="overlay-content">
                                  <h2>₹<%=item.price%></h2>
                                  <p><%= item.title %></p>
                                  <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-box"></i>Order now</a>
                                </div>
                              </div>
                            </div>
                           </div>
                        </div>
                     <% }) %>
                    <% }) %>
                    <!-- Run loop -->

                  </div>
                </div>
                <!--features_items-->
             </div>
          </div>
        <!--/category-tab-->
            </div>
          </div>
      </section>

      <%- include('../common/footer.ejs') %>
  </body>

</html>