<!DOCTYPE html>
<html lang="en">
  <%- include('../common/head.ejs')%>
  <!--/head-->

  <body>
    <%- include('../common/header.ejs')%>
    <!--/header-->

    <section id="cart_items">
      <div class="container">
        <div class="breadcrumbs">
          <ol class="breadcrumb">
            <li><a href="<%=generateUrl('product')%>">Home</a></li>
            <li class="active">Order List</li>
          </ol>
        </div>
        <div class="table-responsive cart_info">
          <table class="table table-condensed">
            <thead>
              <tr class="cart_menu">
                <td class="image">Image</td>
                <td class="description">Title</td>
                <td class="price">Quantity</td>
                <td class="quantity">Price</td>
                <td class="total">Total</td>
                <td class="total">Status</td>
              </tr>
            </thead>
            <tbody>
              <% if(orders.length > 0){ %>
                <% orders.slice(0,orders.length).reverse().forEach((value) =>{ %>
                  <tr>
                    <td class="cart_product">
                      <a href=""
                        ><img
                          src="http://localhost:3004/<%=value.orderdetails.image%>"
                          alt=""
                          style="height: 100px; width: 150px"
                      /></a>
                    </td>
                    <td class="cart_description">
                      <h4><a href=""><%=value.orderdetails.title%></a></h4>
                    </td>
                    <td class="cart_price">
                      <p><%=value.quantity%></p>
                    </td>
                    <td class="cart_quantity">₹<%=value.orderdetails.price%></td>
                    <td class="cart_total">
                      <p class="cart_total_price">
                        ₹<%=value.orderdetails.price * value.quantity%>
                      </p>
                    </td>
                    <td><%=value.status%></td>
                  </tr>
                  <% }) %>
             <% }else{ %>
                <p style="color: red; text-align: center;">You don't have any order</p>
            <%  } %>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <!--/#cart_items-->

    <%- include('../common/footer.ejs')%>
  </body>
</html>
